
@font-face{
    font-family: OpenSans;
    src: url(Fonts/OpenSans-Regular.ttf);
    font-family: Merriweather;
    src: url(Fonts/Merriweather-Regular.ttf);
    font-family: Ubuntu;
    src: url(Fonts/Ubuntu-Regular.ttf);
    font-family: Playfair;
    src: url(Fonts/PlayfairDisplay-VariableFont_wght.ttf);
    
}
*{
    font-family: Playfair;
}
body{
    background-color: black;
}.main{
    display: flex;
    flex-wrap: wrap;
    max-width:80%;
    min-width: 350px;
   background-color: darkslategrey;
    border-radius: 15px;
}
.name,.image{
    flex: 2.5;
    min-width: 300px;
}
.contacts{
    flex: 2;
    min-width: 300px;
align-items: center;
}
.iam,.tauseef{
    display: inline-flex;
    font-size: 50px;
    padding-top: 30px;
}
.iam{
    color: white;
    }
.tauseef{
    color: mediumseagreen;
    }
.text{
    font-family: Ubuntu;
    display: inline-flex;
    color: #f0f0f0;
    margin-top: 1px;
    border: 2px solid mediumseagreen;
    border-radius: 10px;
    padding: 10px;
}
.discription{
    margin-top: 80px;
    font-family: Ubuntu;
    display: inline-flex;
    color: #f0f0f0;
    border: 2px solid mediumseagreen;
    border-radius: 10px;
    padding: 10px;

}
.icon{
    padding: 5px;
    cursor: pointer;
}
.profile{
    margin: 15px;
    margin-left: 5px;
}
.projecttable{
    padding-top: 20px;
    width: 80%;
    height: 400px;
    background-color: #f0f0f0;
    border-radius: 15px;
}
.webdevprojects{
    color: royalblue;
    }
.project{
border-collapse: collapse;
padding: 10px 5px 10px 5px ;
text-align: left;
width: 89%;
height: 200px;
border-radius: 10px;
}
.items{
color: white;
background-color: darkslategrey;
text-align: center;
}
    
tr.even{
        background-color: darkgrey;
    }
    a{
        text-decoration: none;
    }
    a:link{
        color: black;
    }
    a:visited{
        color: black;
    }
    .link:hover{
        cursor: pointer;
        color: white;
        background-color: royalblue;
    }
    tr:hover{
        background-color: royalblue;
        color: white;
        background-color: royalblue;
    }
    th{
        border: 1px solid lightgrey;
        padding: 10px;
    }
    
    .commandlenguages{
        display: inline-block;
       width:77%;
        background-color: darkslategray;
        border-radius: 15px;
        text-align: center;
        padding: 20px;
    }
    .heading{
        color: #f0f0f0;
        border: 2px solid mediumseagreen;
        border-radius: 12px;
        padding: 10px;
    }
.lenguages{
    display: flex;
    margin: 10px 20px 5px 20px;
    height: 80px;
    width: 320px;
    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: 10px 10px 10px black;
    text-align: left;
   }
   .image{
       flex: 1;
       padding-top: 10px;
       border: 1px solid red;
   }
.python,.cpp,.c,.html,.oop{
    flex: 3;
    border: 1px solid red;
    color: royalblue;
    padding-left: 10px;
    padding-top: 10px;
}